html {
  font-family: Verdana;
  background-color: black;
  color: white;
  text-align: center;
}

#main_heading {
  font-weight: normal;
  font-size: 50px:
}

#sub_heading {
  font-weight: 300;
  font-size: 42px;
}

#motto {
  color: gray;
  font-size: 21px;
}

#copyright {
  color: gray;
  text-align: right;
}

#link_text {
  color: Aquamarine;
  font-size: 16px;
}
